.card {
    background-color: #fff;
    border-radius: 14.7391px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.card-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.card-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    max-width: 100%;
}

.dropdown-container,
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

label {
    font-weight: 600;
    color: #555;
    margin-bottom: 5px;
}

select,
input[type='range'] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    width: 100%;
}

input[type='range']::-webkit-slider-thumb,
input[type='range']::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffe6c9;
    cursor: pointer;
}

input[type='checkbox'] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

span {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}
