/**** NAVBAR ****/
#navbar {
  position: fixed;
  height: 100vh; /* Full viewport height */
  background-color: #fff;
  display: flex; /* Enables flexbox */
  flex-direction: column; /* Stacks children vertically */
  justify-content: flex-start; /* Aligns items to the top initially */
  z-index: 1;
}

#sidebar--header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  margin-top: 20px;
}

#sidebar--items {
  flex-grow: 1; /* Fills available space */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
  gap: 8px;
  margin-left: 5px;
}

.sidebar--button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  width: 100%;
  text-align: left;
  padding: 8px 12px;
}

.sidebar--button:focus {
  border: none;
  background-color: #ffe6c9;
  outline: none;
}

/* LOGOUT SECTION */
#sidebar--logout {
  display: flex; /* Ensures proper alignment */
  justify-content: center; /* Center the logout button horizontally */
  padding: 20px 10px;
  width: 100%;
  margin-top: auto; /* Pushes this section to the bottom */
  text-align: center;
  background-color: #fff;
}
